*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  /* font-family: "Roboto", sans-serif; */
  background-color: rgb(240, 235, 235);
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  text-decoration: underline rgb(11, 151, 198);
  text-underline-offset: 12px;
  text-decoration-thickness: 8px;
}

.section-subtitle {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 2rem;
  text-align: left;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: "Segoe UI", sans-serif;
}

/* --clr-primary: rgba(0, 0, 0, 0.966);
    --clr-font: white;
    --clr-accent: rgb(255, 196, 0);
    "Roboto", sans-serif  */

/* scrollabr */

/* Cały scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Tło scrollbara */
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Sam pasek przewijania */
::-webkit-scrollbar-thumb {
  background-color: #0b97c6; /* niebieski */
  border-radius: 6px;
  border: 3px solid #f0f0f0; /* odstęp wewnętrzny */
}

/* Po najechaniu */
::-webkit-scrollbar-thumb:hover {
  background-color: #087fa8;
}
