---

---

<section class="about container">
  <h2 class="page-title">About Me</h2>
  <h3 class="page-subtitle">
    Backend Engineer with hands-on experience in designing, developing, and
    maintaining web applications. Proficient in leveraging technologies like
    Python, Celery, Redis, React, JavaScript, Docker, GCP, and Generative AI to
    build robust, scalable solutions.
  </h3>
</section>
