---

---

<section class="about container" id="about">
  <h2 class="section-title">About Me</h2>
  <h3 class="section-subtitle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolorum
    eum laudantium, unde voluptatem nemo non exercitationem neque ab delectus.
  </h3>
</section>

<style>
  .about {
    text-align: center;
  }
  /* @media (max-width: 768px) {
    .hero {
      flex-direction: column;
    }

    .hero-image img {
      margin-top: 30px;
      width: 300px;
      height: 300px;
    }
  } */
</style>
