---

---

<section class="about container" id="about">
  <h2 class="section-title">About Me</h2>
  <h3 class="section-subtitle">
    <p>
      I’m an AML Analyst with 3 years of experience in the financial sector,
      where I developed a strong eye for detail, problem-solving skills, and a
      passion for working with data and systems.
    </p><br />
    <p>
      While I’ve enjoyed my time in compliance, I’ve recently decided to fully
      pursue my long-time interest in frontend development. Over the past
      months, I’ve been dedicating my free time to learning modern web
      technologies like HTML, CSS, JavaScript, React, and Astro. I’ve built
      several personal projects to deepen my understanding and sharpen my
      skills.
    </p><br />
    <p>
      I’m currently looking for my first opportunity as a frontend developer,
      where I can grow, contribute to real-world projects, and turn my passion
      into a full-time career.
    </p>
  </h3>
</section>
