<section id="contact">
  <div class="container">
    <h2 class="section-title">Contact me</h2>
    <h3 class="section-subtitle">
      I'm currently open to new opportunities. Feel free to reach out using the
      form below or directly via email or LinkedIn.
    </h3>

    <form
      class="contact-form"
      action="https://formspree.io/f/xyzjopqe"
      method="POST"
    >
      <label for="name">Your name:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Your email:</label>
      <input type="email" id="email" name="email" required />

      <label for="message">Your message:</label>
      <textarea id="message" name="message" rows="5" required></textarea>

      <button type="submit">Send</button>
    </form>

    <div class="contact-info">
      <a class="btn btn-contact" href="mailto:marek.miskowiec@yahoo.com"
        >Email</a
      >
      <a class="btn btn-contact" href="tel:+48666498190">Call me</a>
      <a
        class="btn btn-contact"
        href="https://www.linkedin.com/in/marek-miskowiec"
        target="_blank">Linkedin</a
      >
    </div>
  </div>
</section>

<style>
  /* General styles */
  body {
    margin: 0;
    /* background-color: #f5f5f5; */
  }

  #contact {
    background-color: #ffffff;
    padding: 60px 20px;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }

  /* Form styles */
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }

  .contact-form label {
    text-align: left;
    font-weight: bold;
    color: #444;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  .contact-form button {
    padding: 12px;
    background-color: var(--clr-base);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .contact-form button:hover {
    background-color: #0fa6d9;
  }

  .contact-info {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .contact-info {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  /* Contact info */

  .contact-info a {
    color: white;
    text-decoration: none;
    background: var(--clr-base);
  }

  .btn-contact {
    padding: 20px 40px;
  }

  /* Responsive styles */
  @media (max-width: 600px) {
    .contact-container {
      padding: 0 10px;
    }

    .contact-form {
      gap: 10px;
    }

    .contact-container h2 {
      font-size: 1.5rem;
    }

    .btn-contact {
      padding: 10px 20px;
    }
  }
</style>
