<section class="footer">
  <p>@2025 Marek Miskowiec</p>
</section>

<style>
  .footer {
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
    background: rgb(11, 151, 198);
  }
</style>
