<section class="hero container" id="home">
  <div class="hero-text">
    <p>Hi</p>
    <h1>
      I'm <span class="highlight">Marek Miskowiec</span> a<br />
      Frontend Devloper.
      <!-- <span id="typing-text"></span> -->
    </h1>

    <div class="buttons">
      <a href="#" class="btn black">Download CV</a>
      <a
        href="https://github.com/marekmiskowiec"
        target="_blank"
        class="btn orange">Github</a
      >
    </div>
  </div>
  <div class="hero-image">
    <img src="hero.jpg" alt="Mark" />
  </div>
</section>

<script>
  const text = "FRONTEND\n DEVELOPER.";
  const speed = 100; // ms między literami
  let index = 0;

  function type() {
    if (index < text.length) {
      document.getElementById("typing-text").innerHTML += text.charAt(index);
      index++;
      setTimeout(type, speed);
    }
  }

  type();
</script>

<style>
  #typing-text {
    font-size: 6rem;
    color: black;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    min-height: 100vh;
  }

  .hero-text {
    max-width: 600px;
  }

  .hero-text p {
    font-size: 20px;
    margin: 0 0 10px;
  }

  .hero-text h1 {
    font-size: 62px;
    font-weight: bold;
    margin: 0 0 20px;
    line-height: 1.2;
  }

  .hero-text .highlight {
    color: #f97316; /* orange */
  }

  .buttons {
    display: flex;
    gap: 15px;
  }

  .btn {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
  }

  .btn.black {
    background-color: #000;
    color: #fff;
  }

  .btn.black:hover {
    opacity: 0.8;
  }

  .btn.orange {
    background-color: #f97316;
    color: #fff;
  }

  .btn.orange:hover {
    background-color: #ea580c;
  }

  .hero-image img {
    width: 550px;
    height: 550px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.55);
    border: 6px solid rgb(11, 151, 198);
  }

  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      padding: 10px;
    }

    .hero-image img {
      margin-top: 30px;
      width: 350px;
      height: 350px;
    }
    #typing-text {
      font-size: 1.5rem;
    }
  }
</style>
