<section class="hero container" id="home">
  <div class="hero-text">
    <p class="hi">Hi, I'm</p>
    <h1>
      Marek Miskowiec
      <div class="typewriter">
        <div>
          <p>FRONTEND DEVELOPER</p>
        </div>
      </div>
    </h1>

    <div class="buttons">
      <a href="#" class="btn black">Download Resume</a>
      <a
        href="https://github.com/marekmiskowiec"
        target="_blank"
        class="btn orange">Github</a
      >
    </div>
  </div>
  <div class="hero-image">
    <picture>
      <!-- Dla małych ekranów (np. telefonów) -->
      <source srcset="/hero-mobile.webp" media="(max-width: 768px)" />

      <!-- Dla większych ekranów -->
      <source srcset="/hero.webp" media="(min-width: 769px)" />

      <!-- Domyślny fallback (np. Safari bez WebP) -->
      <img src="/hero.webp" alt="Mark" fetchpriority="high" />
    </picture>
  </div>
</section>

<style>
  .typewriter {
    display: flex;
  }

  .typewriter p {
    margin-bottom: 30px;
    font-size: 2rem;
    /* margin-inline: auto; */
    overflow: hidden;

    /* Keeps on a single line */
    white-space: nowrap;

    /* The cursor */
    border-right: 1px solid;

    /* steps = number of characters */
    animation:
      typing 2.5s steps(22) forwards,
      blink 1s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  #typing-text {
    font-size: 6rem;
    color: black;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    min-height: 100vh;
  }

  .hero-text {
    max-width: 600px;
  }

  .hero-text .hi {
    font-size: 20px;
    margin: 0 0 10px;
  }

  .hero-text h1 {
    font-size: 62px;
    font-weight: bold;
    margin: 0 0 20px;
    line-height: 1.2;
  }

  .hero-text .typewriter {
    color: #f97316; /* orange */
  }

  .buttons {
    display: flex;
    gap: 15px;
  }

  .btn {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
  }

  .btn.black {
    background-color: #000;
    color: #fff;
  }

  .btn.black:hover {
    opacity: 0.8;
  }

  .btn.orange {
    background-color: #f97316;
    color: #fff;
  }

  .btn.orange:hover {
    background-color: #ea580c;
  }

  .hero-image img {
    width: 550px;
    height: 550px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.55);
    border: 6px solid rgb(11, 151, 198);
  }

  @media (max-width: 768px) {
    .typewriter p {
      font-size: 2rem;
    }

    .hero {
      padding-top: 25px;
      flex-direction: column;
    }

    .hero-image img {
      margin-top: 30px;
      width: 350px;
      height: 350px;
    }
    #typing-text {
      font-size: 1.5rem;
    }
  }
</style>
