<section class="projects container">
  <h2 class="page-title">Projects</h2>

  <div class="projects__container">
    <div class="projects__card">
      <div class="projects__card-photo">
        <img src="/project-wildrift.png" alt="wildirft website" />
      </div>
      <div class="projects__card-title">WildriftGuides</div>
      <div class="projects__card-description">
        Website about wildrift builds
      </div>
      <div class="projects__card-buttons">
        <a class="btn btn-github">Live Demo</a>
        <a class="btn btn-demo">Github</a>
      </div>
    </div>

    <div class="projects__card">
      <div class="projects__card-photo">
        <img src="/project-wildrift.png" alt="wildirft website" />
      </div>
      <div class="projects__card-title">WildriftGuides</div>
      <div class="projects__card-description">
        Website about wildrift builds
      </div>
      <div class="projects__card-buttons">
        <a class="btn btn-github">Live Demo</a>
        <a class="btn btn-demo">Github</a>
      </div>
    </div>

    <div class="projects__card">
      <div class="projects__card-photo">
        <img src="/project-wildrift.png" alt="wildirft website" />
      </div>
      <div class="projects__card-title">WildriftGuides</div>
      <div class="projects__card-description">
        Website about wildrift builds
      </div>
      <div class="projects__card-buttons">
        <a class="btn btn-github">Live Demo</a>
        <a class="btn btn-demo">Github</a>
      </div>
    </div>

    <div class="projects__card">
      <div class="projects__card-photo">
        <img src="/project-wildrift.png" alt="wildirft website" />
      </div>
      <div class="projects__card-title">WildriftGuides</div>
      <div class="projects__card-description">
        Website about wildrift builds
      </div>
      <div class="projects__card-buttons">
        <a class="btn btn-github">Live Demo</a>
        <a class="btn btn-demo">Github</a>
      </div>
    </div>
  </div>

  <style>
    .projects__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.5rem;
    }

    .projects__card {
      border: 1px solid black;
      width: 45%;
      text-align: center;
      padding: 20px;
    }

    .projects__card-title {
      font-size: 2rem;
    }

    .projects__card-description {
      font-size: 1rem;
      margin-bottom: 20px;
    }

    .projects__card-photo img {
      width: 100%;
    }

    .projects__card-buttons {
      margin-bottom: 20px;
    }

    .btn {
      padding: 8px 16px;
      margin-top: 10px;
    }

    .btn-demo {
      background-color: green;
    }

    .btn-github {
      background-color: red;
    }
  </style>
</section>
