<section class="resume container" id="resume">
  <h1>Download resume</h1>
  <a href="#">Download resume</a>
</section>

<style>
  .resume {
    text-align: center;
    margin-bottom: 60px;
  }
  h1 {
    margin-bottom: 50px;
  }
  a {
    padding: 25px 50px;
    background-color: rgb(11, 151, 198);
    color: white;
    text-decoration: none;
    border-radius: 10px;
  }

  a:hover {
    background-color: rgba(11, 151, 198, 0.8);
  }
</style>
