<section class="resume container" id="resume">
  <h2 class="section-title">Resume</h2>
  <a class="btn" href="#">Download PDF</a>
</section>

<style>
  .resume {
    text-align: center;
  }
  h2 {
    margin-bottom: 75px;
  }
  a {
    padding: 25px 50px;
    background-color: var(--clr-base);
    color: white;
    text-decoration: none;
    border-radius: 10px;
  }

  a:hover {
    background-color: rgba(11, 151, 198, 0.8);
  }
</style>
