<section class="resume container">
  <h1>Download resume</h1>
  <a href="#">Download resume</a>
</section>

<style>
  .resume {
    text-align: center;
  }
  h1 {
    margin-bottom: 50px;
  }
  a {
    padding: 25px 50px;
    background-color: yellow;
  }
</style>
