---
import technologies from "../data/technologies.json";
---

<section class="technologies container" id="skills">
  <h2 class="section-title">My skills</h2>
  <h3 class="section-subtitle">
    I'm proficient in a wide range of technologies, from front-end development
    to back-end and database management.
  </h3>

  {
    technologies.map((technology) => (
      <div class="technologies__category">
        <h2 class="technologies__category-title">{technology.title}</h2>
        <ul class="technologies__category-list">
          {technology.techs.map((tech) => (
            <li class="technologies__category-item">
              <img
                src={tech.icon}
                class="technologies__category-icon"
                alt={tech.name}
                loading="lazy"
              />
              <span>{tech.name}</span>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</section>

<style>
  .technologies {
    text-align: center;
  }

  .technologies__category {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .technologies__category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }

  .technologies__category-title {
    margin-bottom: 15px;
  }

  .technologies__category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 10px;
  }

  .technologies__category-icon {
    width: 100px;
  }
</style>
