<section class="timeline container" id="resume">
  <div class="timeline__row">
    <div class="timeline__col">
      <h2 class="timeline__col-title">
        <i class="fa-solid fa-briefcase"></i> Experience
      </h2>
      <div class="test">
      <div class="timeline__content-box">
        <div class="timeline__content-box-date">
          <i class="fa-solid fa-calendar"></i> 2016-2020
        </div>
        <h3 class="timeline__content-box-name">asfsafa</h3>
        <p class="timeline__content-box-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eos!
          Corrupti saepe laudantium tenetur maxime eveniet quae incidunt
          voluptates deserunt aliquid aut! Qui a in architecto reprehenderit at
          aliquam laborum.
        </p>
      </div>
      <div class="timeline__content-box">
        <div class="timeline__content-box-date">
          <i class="fa-solid fa-calendar"></i> 2016-2020
        </div>
        <h3 class="timeline__content-box-name">asfsafa</h3>
        <p class="timeline__content-box-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eos!
          Corrupti saepe laudantium tenetur maxime eveniet quae incidunt
          voluptates deserunt aliquid aut! Qui a in architecto reprehenderit at
          aliquam laborum.
          
        </p>
      </div>
      <div class="timeline__content-box">
        <div class="timeline__content-box-date">
          <i class="fa-solid fa-calendar"></i> 2016-2020
        </div>
        <h3 class="timeline__content-box-name">asfsafa</h3>
        <p class="timeline__content-box-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eos!
          Corrupti saepe laudantium tenetur maxime eveniet quae incidunt
          voluptates deserunt aliquid aut! Qui a in architecto reprehenderit at
          aliquam laborum.
        </p>
      </div>
      <div class="timeline__content-box">
        <div class="timeline__content-box-date">
          <i class="fa-solid fa-calendar"></i> 2016-2020
        </div>
        <h3 class="timeline__content-box-name">asfsafa</h3>
        <p class="timeline__content-box-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eos!
          Corrupti saepe laudantium tenetur maxime eveniet quae incidunt
          voluptates deserunt aliquid aut! Qui a in architecto reprehenderit at
          aliquam laborum.
        </p>
      </div>
      <div class="timeline__content-box">
        <div class="timeline__content-box-date">
          <i class="fa-solid fa-calendar"></i> 2016-2020
        </div>
        <h3 class="timeline__content-box-name">asfsafa</h3>
        <p class="timeline__content-box-description">
          asflksj Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Totam, eos! Corrupti saepe laudantium tenetur maxime eveniet quae
          incidunt voluptates deserunt aliquid aut! Qui a in architecto
          reprehenderit at aliquam laborum.fjklas
        </p>
      </div>
      </div>
    </div>


    <div class="timeline__col">
      <h2 class="timeline__col-title">
        <i class="fa-solid fa-user-graduate"></i> Education
      </h2>
      <div class="test">
      <div class="timeline__content-box">
        <div class="timeline__content-box-date">
          <i class="fa-solid fa-calendar"></i> 2016-2020
        </div>
        <h3 class="timeline__content-box-name">asfsafa</h3>
        <p class="timeline__content-box-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eos!
          Corrupti saepe laudantium tenetur maxime eveniet quae incidunt
          voluptates deserunt aliquid aut! Qui a in architecto reprehenderit at
          aliquam laborum.
        </p>
      </div>
      <div class="timeline__content-box">
        <div class="timeline__content-box-date">
          <i class="fa-solid fa-calendar"></i> 2016-2020
        </div>
        <h3 class="timeline__content-box-name">asfsafa</h3>
        <p class="timeline__content-box-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eos!
          Corrupti saepe laudantium tenetur maxime eveniet quae incidunt
          voluptates deserunt aliquid aut! Qui a in architecto reprehenderit at
          aliquam laborum.
        </p>
      </div>
    </div>
    <h2 class="timeline__col-title">
      <i class="fa-solid fa-user-graduate"></i> Courses
    </h2>
    <div class="test">
    <div class="timeline__content-box">
      <div class="timeline__content-box-date">
        <i class="fa-solid fa-calendar"></i> 2016-2020
      </div>
      <h3 class="timeline__content-box-name">Kodilla</h3>
      <p class="timeline__content-box-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eos!
        Corrupti saepe laudantium tenetur maxime eveniet quae incidunt
        voluptates deserunt aliquid aut! Qui a in architecto reprehenderit at
        aliquam laborum.
      </p>
    </div>
    <div class="timeline__content-box">
      <div class="timeline__content-box-date">
        <i class="fa-solid fa-calendar"></i> 2016-2020
      </div>
      <h3 class="timeline__content-box-name">asfsafsa</h3>
      <p class="timeline__content-box-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eos!
        Corrupti saepe laudantium tenetur maxime eveniet quae incidunt
        voluptates deserunt aliquid aut! Qui a in architecto reprehenderit at
        aliquam laborum.
      </p>
    </div>
  </div>
  </div>
  </div>
</section>

<style>
  .timeline {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 12% 2rem;
  }

  .timeline__row {
    display: flex;
    gap: 3rem;
  }

  /* .timeline__col {
    position: relative;
  } */

  .timeline__col-title {
    font-size: 2.5rem
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .timeline__col-title i {
    font-size: 4rem;
  }

  .timeline__content-box {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 0 2rem;
    border: 3px solid rgb(11, 151, 198);
    border-radius: 1rem;
    font-size: 14px;
    transition: 0.4s ease;
    cursor: pointer;
  }

  .timeline__content-box:hover {
    box-shadow: 0 0 25px rgb(0, 0, 0, 0.5);
    border: 3px solid rgb(11, 151, 198);
  }


  .timeline__col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .test {
    border-left: 5px solid rgb(11, 151, 198);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .timeline__content-box:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(11, 151, 198);
  left: -50px;
  top: 85px;
}

  .timeline__content-box-date {
    font-size: 1.7rem;
    color: rgb(11, 151, 198);
    font-weight: 700;

  }

  @media (max-width: 768px) {
    .timeline__row {
      flex-direction: column;
    }
  }
</style>
