<section class="timeline container">
  <div class="timeline__col">
    <h2 class="timeline__title">Education</h2>
  </div>
  <div class="timeline__col">
    <h2 class="timeline__title">Experience</h2>
  </div>
</section>
