---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/animations.css";
---

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-16x16.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.marekmiskowiec.dev" />
    <meta property="og:title" content="Marek Miskowiec - Frontend Developer" />
    <meta
      property="og:description"
      content="Marek Miskowiec - Frontend Developer specializing in React/Astro."
    />
    <meta
      property="og:image"
      content="https://www.marekmiskowiec.dev/hero.jpg"
    />

    <title>{SITE_TITLE}</title>
  </head>
  <body>
    <slot />
    <script defer src="/src//scripts/contact.js"></script>
  </body>
</html>
